/*------------------------------Cabecera-----------------------*/
body li a{
    color: white;
}
body footer{
    color: black;
}
body{
    font-family: 'Dancing Script', Arial;
    color: white;
    background: black;
}
.cabecera{
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    
}

a{
    text-decoration: none;
    color: black;
}

.navt{
    text-shadow: 2px 2px #02010a;
    width: 50%;
}

.nave{
    width: 50%;
    text-align: center;
}

ul li{
    margin: 20px;
    float: right;
    margin-top: 15px;
    list-style-type: none;
    margin-right: 20px;
}
/*---------------------------------------------------------------------*/
                        /*Contenido*/
.foto_principal{
/*    border: 2px solid black;*/
    background: #82c3a6;
    text-align: center;
    width: 100%;
}

#principal{
    margin-top: 20px;
    width: 75%;
    margin-bottom: 20px;
}
/*---------------------------------------------*/
#paisa, #retrato{
    border: 1px solid black;
    width: 80%;
}

.foto_secundario{
/*    border: 2px solid black;*/
    text-align: center;
    background: #d5c75f;
    
    display: flex;
    flex-flow: row wrap;
}

.foto1{
    margin-top: 45px;
    width: 50%;
}


.foto2{
    margin-top: 25px;
    width: 50%;
}

.foto1:hover{
/*    border: 2px solid black;*/
    transform: rotate(10deg);
    text-shadow: 2px #82c3a6;
}

.foto2:hover{
    transform: translate3d(20px, -5px, 5px);
/*    border: 2px solid black;*/
    text-shadow: 2px #82c3a6;
}

/**/
.piePagina{
/*    border: 2px solid black;*/
    background: #c6d5c5;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.pie_pagina1{
    margin-top: 20px;
    width: 25%;
}
.pie_pagina2{
    margin-top: 20px;
    width: 25%;
}
.pie_pagina3{
    margin-top: 20px;
    width: 25%;
}
.pie_pagina4{
    margin-top: 20px;
    width: 25%;
}


/*----------------------Dispositivo movil----------------------------------------------*/

@media all and (max-width: 900px){
    .navt{
        margin: 0px;
        width: 100%;
        text-align: center;
        order: 1;
    }
    .nave{
        margin-right: 70px;
        width: 100%;
        order: 2;
        text-align: center;
    }
    #principal{
        width: 85%;
    }
    .foto1{
        width: 100%;
        order: 1;
    }
    .foto2{
        width: 100%;
        order: 2;
    }
    .pie_pagina1{
        width: 100%;
        order: 1;
        margin-left: 25px;
    }
    .pie_pagina2{
        margin-top: 1em;
        width: 100%;
        order: 2;
        margin-left: 25px;
    }
    .pie_pagina3{
        width: 100%;
        order: 3;
        margin-top: 1em;
        margin-left: 25px;
    }
    .pie_pagina4{
        width: 100%;
        margin-top: 1em;
        order: 4;
        margin-left: 25px;
    }
}

@media all and (min-width: 900px){
    
    .navt{
        margin-left: 10px;
        width: 50%;
        order: 1;
    }
    .nave{
        width: 40%;
        order: 2;
    }
    .pie_pagina1{
        margin-left: 24px;
        width: 24%
    }
    .pie_pagina2{
        width: 24%;
    }
    .pie_pagina3{
        width: 24%;
    }
    .pie_pagina4{
        width: 24%;
    }
}


header {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 150%;
  }

  to {
    margin-top: -5%;
  }
}