/*Cabecera*/
div[class*="nav"]{
    flex-basis: 50%;
    
}

.navt{
    
}
.nave{
    
}

.cabecera{
    background: #5b7989;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px 10px 0px 0px;
}
h1{
    text-shadow: 2px 2px #02010a;
}

/*Declaración de flexbox para nav*/
div, nav[class*="nav"]{
/*    max-height: 60px;*/
    flex-basis: 50%;
}
/*Barra de navegación*/
ul{
    margin: 0;
    list-style-type: none;
}
li{
    margin: 0px 10px;;
    float: right;
    margin-top: 35px;
   
}
a{
    text-decoration: none;
    color: black;
}
/*---------------------------------------------------------------------*/
/*Contenido*/
.foto_principal{
    margin-top: 20px;
/*    border: 2px solid black;*/
    background: #82c3a6;
    text-align: center;

}

img{
    width:  75%;
}

/*---------------------------------------------*/
div[class*="foto"]{
    min-height: 150px;
    flex-basis: 50%;
}

.foto1 img{
    text-align: center;
    width: 90%;
}
.foto2 img{
    text-align: center;
    width: 90%;
    margin-top: 20px;    
}

.foto_secundario{
    border: 2px solid black;
    text-align: center;
    background: #d5c75f;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}
/*------------------------------*/
/*pie de pagina*/
footer{
    clear: both;
    width: 100%;
/*    position: fixed;*/
    bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 0px 0px 10px 10px;
    background: #c6d5c5;
    text-align: center;
}
/*Flexbox para pie de pagina*/
div[class*="pie_pagina"]{
    min-height: 70px;
    flex-basis: 25%;
}

@media all and (max-width: 500px){
    .cabecera{
        width: 100%;
        order: 1;
    }
    
    .foto_secundario{
        width: 100%;
    }
    .foto1{
        width: 100%;
        order: 1;
    }
    .foto2{
        width: 100%;
        order: 2;
    }
}